  html,:host{
    overflow-x: hidden;
  }
  .carousel-primary {
    display: flex;
    gap:1rem;
    position:relative;
    white-space: wrap;
  }
  

  
  .carousel-primary {
  
    animation: scroll-horizontal 30s linear infinite;
  }
  
 
  
  @keyframes scroll-horizontal {
    0% {
      left: 100%;
    }
  
    100% {
      left: -100%;
    }
  }
  
  .carousel-primary:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  
 
